@use "../media";
@use "../mixins";

.header {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 1rem;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5vw;

  @include media.respond-down('laptop') {
    @include mixins.hidden;
  }

  @include media.respond-down('mobile') {
    @include mixins.hidden;
  }

  &__item:last-child {
    margin-left: 5vw;
  }

  &__link {
    text-transform: uppercase;
    text-wrap: nowrap;
  }
}