@use "../media";
@use "../mixins";

.header {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 1rem;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: rem;

  @include media.respond-down('mobile') {
    display: flex;
  }

  &__item {
    @include media.respond-down('mobile') {
      @include mixins.hidden;
    }
  }

  &__item:last-child {
    margin-left: 2rem;
  }

  &__link {
    text-transform: uppercase;
    font-family: 'noto-sans', Arial, sans-serif;
    font-size: 1em;
    color: var(--header-color);
    text-wrap: nowrap;
  }
}