@use "../media";

.header {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-shrink: 0;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @include media.respond-down('mobile') {
    border-style: solid;
    border-color: red;
    border-width: 2;
  }

  @include media.respond-down('laptop') {
    display: none;
  }

  &__item:last-child {
    margin-left: 4rem;
  }

  &__link {
    text-transform: uppercase;
    font-family: 'noto-sans', Arial, sans-serif;
    font-size: 14px;
    color: var(--header-color);
  }
}