@use "../mixins";

.main {
  display: flex;
  width: 100vw;
  height: 1000px;
}

.home {
  width: 100%;
  height: 80vh;
  margin-top: 1rem;
  @include mixins.accent-border;

  h1{
    font-family: 'noto-sans', Arial, sans-serif;
    font-size: 3em;
    color: var(--header-color);
    font-style: italic;
    text-transform: uppercase;
    margin-left: 5rem;
    max-width: 30rem;
    line-height: 7rem;
  }
}