@use "../mixins";

.main {
  display: flex;
  width: 100vw;
  height: 1000px;
}

.home {
  width: 100%;
  height: 80vh;
  margin-top: 1rem;

  .swiper {
    width: 100%;
    display: flex;
    position: relative;
    top: -4em;
    z-index: -1;
  }
}


