@use "../media";

.burger-button {
  display: none;
  width: 2rem;
  height: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &-close {
    display: none;
    width: 2rem;
    height: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @include media.respond-down('laptop') {
      display: flex;
    }

    @include media.respond-down('mobile') {
      display: flex;
    }
  }

  @include media.respond-down('laptop') {
    display: flex;
  }

  @include media.respond-down('mobile') {
    display: flex;
  }
}

.burger-button::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #000;
  box-shadow: 0 5px #000, 0 -5px #000;
}

.burger-button-close::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #000;
  box-shadow: none;
}

