@use "../mixins";

.mobile-menu-cover {
  @include mixins.accent-border;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  opacity: 0.95;
  text-align: center;
}