p {
  color: var(--header-color);
}

a {
  font-family: 'noto-sans', Arial, sans-serif;
  font-size: 1em;
  color: var(--header-color);
}

h1{
  font-family: 'noto-sans', Arial, sans-serif;
  font-size: 2.5em;
  color: var(--header-color);
  font-style: italic;
  text-transform: uppercase;
  margin-left: 5rem;
  max-width: 25rem;
  line-height: 4rem;
}


