@use "variables";
@use "sass:map";

@mixin hover {
  @media(hover: hover) {
    &:hover {
      @content
    }
  }
  @media(hover: none) {
    &:active {
      @content
    }
  }
}

//медиа запросы на max-width с использованием breakpoints:
@mixin respond-down($breakpoint) {
  $max-width: map.get(variables.$breakpoints, $breakpoint);
  @media (max-width: $max-width) {
    @content;
  }
}

.active-effect {
  @include hover {
    color: var(--active-color);
    opacity: 0.4;
    transition: all 0.2s ease;
  }
}