$breakpoints: (
  'mobile': 550px,
  'laptop': 1024px,
);

:root {
  //colors
  --accent-color: #00C6BD;
  --header-color: #163152;
  --header-bg-color: rgb(255 255 255 / 0.7);
  --font-color: #283C54;
  --active-color: #276a81;

  //font-weights
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}